{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
<div class="formI">
    <h1>Inscription</h1>

    {{ form_start(registrationForm) }}
       <div class="emailI">{{ form_row(registrationForm.email) }}</div> 
      <div class="mdpI">{{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}</div> 
        <div class="agreeI">{{ form_row(registrationForm.agreeTerms) }}</div>

        <button type="submit" class="btn">S'inscrire</button>
        </div>
    {{ form_end(registrationForm) }}
{% endblock %}
