
{% extends 'base.html.twig' %}
{% block title %}Contactez nous{% endblock %}
{% block body %}
<h1 class="LC">Liste de contact</h1>
<table border="solid" class="tabC">
                   <thead class="contactti">
                       <tr>
                           <th>Nom</th>
                           <th>Email</th>
                           <th>Message</th>
                           <th>Action</th>
                       </tr>
                   </thead>
                   <tbody>
                       {% for contact in contacts %}
                       <tr>
                           <td>{{ contact.nom }}</td>
                           <td>{{ contact.email }}</td>
                           <td>{{ contact.message }}</td>
                           
                           <td>
                                
                            <a href="{{ path('contact_edit', {id: contact.id}) }}" class="btn btn-primary">Edit</a>
                            <a href="{{ path('contact_delete', {id: contact.id}) }}" class="btn btn-danger" onclick="return confirm('vous vous apprêtez à supprimer un contact')">Delete</a>
                            
                           </td>

                       </tr>
                       {% endfor %}
                   </tbody>
               </table>
{% endblock %}

